[submodule "themes/hugo-theme-cleanwhite"]
	path = themes/hugo-theme-cleanwhite
	url = git@github.com:zhaohuabing/hugo-theme-cleanwhite.git
[submodule "themes/hugo-dynamic-tabs"]
	path = themes/hugo-dynamic-tabs
	url = git@github.com:rvanhorn/hugo-dynamic-tabs.git
